{% extends "admin/admin_base.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="main col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <h2 class="text-center"><b>用户管理</b></h2>
                <div class="panel">
                    <form action="" method="get">
                        <div class="form-group">
                            {{ form.q.label }}
                            {{ form.q }}
                        </div>
                        <div class="form-group">
                            {{ form.field.label }}
                            {{ form.field }}
                        </div>
                        <div class="form-group">
                            {{ form.sex.label }}
                            {{ form.sex }}
                        </div>
                        <div class="form-group">
                            {{ form.order.label }}
                            {{ form.order }}
                        </div>
                        <div class="form-group ">
                            <div class="row"><input type="submit" name="search" class="btn btn-primary pull-right"
                                                    value="立即搜索"></div>
                        </div>
                    </form>
                </div>
                <div class="row"><h4 class="text-center">总页数：{{ pages }} / 总记录：{{ total }}</h4></div>
                <table class="table table-bordered ">
                    <tr>
                        <th>用户id</th>
                        <th>用户名</th>
                        <th>真实名</th>
                        <th>性别</th>
                        <th>城市</th>
                        <th>操作</th>
                    </tr>
                    {% for user in users %}
                        <tr id="user_{{ user.id }}" class="text-center">
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.realname }}</td>
                            <td>{{ user.sex }}</td>
                            <td>{{ user.city }}</td>
                            <td>
                                <a href="{{ url_for("admin_app.editUser", user_id=user.id) }}" target="_blank">修改</a>
                                {# <a href="{{ url_for("admin_app.deleteUser", user_id=user.id) }}">删除</a>#}
                                {# <a href="#" onclick="delUser({{ user.id }})">删除</a>#}
                                {# <!--直接在href中书写js，可以避免在href中写#发生页面跳动的现象-->#}
                                <a href="javascript:delUser({{ user.id }})">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <ul class="pagination">
                    {% for page in pageList %}
                        {% if page!=None %}
                            {% if q == None %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li>
                                    <a href="?page={{ page }}&q={{ q }}&field={{ field }}&sex={{ sex }}&order={{ order }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li><a href="#">...</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        function delUser(userid) {
            $.ajax({
                type: "post",
                url: "{{ url_for("admin_app.deleteUser") }}",
                data: {user_id: userid},
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
                },
                success: function (data) {
                    console.log(data)
                    if (data.result == "success") {
                        console.log($("#user_" + userid))
                        $("#user_" + userid).html(
                            "<td colspan=6>" + "删除成功" + "</td>")
                    } else {
                        alert('删除过程发生错误，请重新尝试')
                    }
                }
            })
        }
    </script>
{% endblock %}
</body>
</html>
