/venv/
/.idea/
/static/uploads/
__pycache__/settings.cpython-37.pyc
admin/__pycache__/
member/__pycache__/
forms/__pycache__/
migrations/__pycache__/
migrations/versions/__pycache__/
views/__pycache__/upload.cpython-37.pyc
*.pyc
views/__pycache__/articles.cpython-37.pyc
__pycache__/app.cpython-37.pyc
__pycache__/libs.cpython-37.pyc
__pycache__/models.cpython-37.pyc
__pycache__/utils.cpython-37.pyc
views/__pycache__/articles.cpython-37.pyc
views/__pycache__/users.cpython-37.pyc
