/venv/
/.idea/
/static/uploads/
__pycache__/settings.cpython-37.pyc
admin/__pycache__/
member/__pycache__/
forms/__pycache__/
migrations/__pycache__/
migrations/versions/__pycache__/
views/__pycache__/upload.cpython-37.pyc
*.pyc
