{% extends "admin/admin_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="main col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <h1 class="text-center">欢迎进入Flask-Blog后台管理系统</h1>
                <table class="table">
                    <tr>
                        <td><b>总共有{{ not_audit }}条评论等待您审核，
                            前往<a href="{{ url_for("admin_app.comment_audit") }}">审核评论</a></b></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}