{% extends "member/member_base.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 2%') }}
    {{ dropzone.load_js() }}
    <div class="container-fluid">
        <div class="row">
            <div class="main col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <h2 class="text-center"><b>发布文章</b></h2>
                <div class="body">
                    {% for field in form %}
                        {% if field.widget.input_type!="hidden" %}
                            <div class="form-group">
                                {{ field.label }}
                                {{ field }}
                            </div>
                        {% else %}
                            {{ field }}
                            {% if field.name=="thumb" %}
                                {{ dropzone.create(action="upload_app.ckeditor_upload") }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <input class="btn" type="button" name="btn" id="btn1" value="发表文章"/>
                    </div>
                    <div class="alert alert-info" id="message" role="alert"></div>
                </div>
            </div>
        </div>
    </div>
    {{ dropzone.config(
                        custom_init='this.on("success", function(file, res) {
                        if( file.xhr.status == 200 ){
                           res = JSON.parse(res)
                           $("#thumb").val(res.url);
                           console.log($("#thumb"));
                           console.log(res);
                           console.log(typeof(res))
                        }else{
                            alert("上传失败");
                        }
                         });'
                    ) }}
    <script src="{{ url_for('static', filename="ckeditor/ckeditor.js") }}"></script>
    <script>CKEDITOR.replace('content', {
        filebrowserUploadUrl: '/upload/ckeditor',
        filebrowserBrowseUrl: '/upload/ckeditor/browser',
        fileTools_requestHeaders: {
            "X-Requested-width": "XMLHttpRequest",
            "X-CSRF-Token": "{{ csrf_token() }}"
        }
    })</script>
    <script>
        btn = document.getElementById("btn1")
        btn.onclick = function (event) {
            cate_id = $("#cate").val()
            title = $("#title").val()
            thumb = $("#thumb").val()
            intro = $("#intro").val()
            content = CKEDITOR.instances['content'].getData()
            console.log(cate_id, title, thumb, intro, content)
            if (title == "") {
                $("#title").focus()
                return false
            }
            if (intro == "") {
                $("#intro").focus()
                return false
            }
            if (content == "") {
                CKEDITOR.instances["content"].focus()
                return false
            }
            $.ajax({
                type: "post",
                data: {
                    "cate": cate_id,
                    "title": title,
                    "thumb": thumb,
                    "intro": intro,
                    "content": content
                },
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
                },
                success: function (data) {
                    $("#message").html(data.message)
                    console.log(data.message)
                    //表单重置，相当于点击重设按钮
                    $("#title").val("")
                    $("#thumb").val("")
                    $("#intro").val("")
                    // 清空上传
                    myDropzone.dropzone.removeAllFiles()
                    // 清空ckeditor
                    CKEDITOR.instances["content"].setData()
                }
            })
        }
    </script>
{% endblock %}
</body>
</html>