{% extends "member/member_base.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="main col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <h2 class="text-center"><b>文章管理</b></h2>
                <div class="panel">
                    <form action="" method="post" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-2 text-right">
                                    <label for="q" class="control-label">关键字：</label>
                                </div>
                                <div class="col-xs-10">
                                    <input type="text" name="q" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-2 text-right">
                                    <label for="field" class="control-label">查询字段：</label>
                                </div>
                                <div class="col-xs-4">
                                    <select name="field" class="form-control">
                                        <option value="title">根据标题查找</option>
                                        <option value="content">根据文章内容查找</option>
                                    </select>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <label for="排序" class="control-label">排序：</label>
                                </div>
                                <div class="col-xs-4">
                                    <select name="order" class="form-control">
                                        <option value="1" checked>按照id升序排序</option>
                                        <option value="2">按照id降序排序</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <a href="{{ url_for("member_app.article_post") }}"><input type="button" name="post"
                                                                                      class="btn btn-primary"
                                                                                      value="发布文章"></a>
                            <input type="submit" name="search" class="btn btn-primary pull-right" value="立即搜索">
                        </div>
                    </form>
                </div>
                <table class="table">
                    <tr>
                        <td>总页数:{{ pages }}/总记录:{{ total }}</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th>文章ID</th>
                        <th>文章标题</th>
                        <th>作者</th>
                        <th>发布日期</th>
                        <th>操作</th>
                    </tr>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>
                                <a href="{{ url_for("article_app.view", article_id=article.id) }}">{{ article.title }}</a>
                            </td>
                            <td>{{ article.author }}</td>
                            <td>{{ article.pubdate }}</td>
                            <td>
                                <a href="{{ url_for("member_app.article_edit", article_id=article.id) }}">编辑</a>
                                <a href="{{ url_for("member_app.article_delete", article_id=article.id) }}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <ul class="pagination">
                    {% for page in pageList %}
                        {% if page!=None %}
                            <li><a href="{{ url_for("member_app.article_list", page=page) }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="#">...</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>