{% extends "base.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
    <main>
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 旋转木马项目 -->
            <div class="carousel-inner">
                <div class="active item"><img src="{{ url_for('static', filename='img/star-player.jpg') }}" width="80%"
                                              class="img-responsive center-block"></div>
                <div class="item"><img src="{{ url_for('static', filename='img/love.jpg') }}" width="80%"
                                       class="img-responsive center-block">
                </div>
                <div class="item"><img src="{{ url_for('static', filename='img/mobile.jpg') }}" width="80%"
                                       class="img-responsive center-block">
                </div>
            </div>
            <!-- 旋转木马导航 -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 col-sm-7 col-sm-offset-1">
                    <div class="alert alert-info" role="alert">{{ alert.alert_content }}</div>
                    <div class="jumbotron">
                        <h1>Hello, python!</h1>
                        <p>
                            Python是用来编写应用程序的高级编程语言，它“优雅”、“明确”、“简单”。Python就为我们提供了非常完善的基础代码库。人工智能、大数据、数据分析、网站项目等领域的开发编程都可使用Python完成。</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">立即报名学习</a></p>
                    </div>
                    {#                    {% for article in articles %}#}
                    {#                        <div class="list-group">#}
                    {#                            <a href="{{ url_for('article_app.view', article_id=article.id) }}" class="list-group-item">#}
                    {#                                <h4 class="list-group-item-heading">{{ article.title }}</h4>#}
                    {#                                <p class="list-group-item-text">{{ article.intro }}</p>#}
                    {#                            </a>#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}
                    <ul class="media-list">
                        {% for article in articles %}
                            <li class="media">
                                <div class="pull-left">
                                    {# 缩略图为空则显示默认图片，否则显示上传的缩略图 #}
                                    {% if article.thumb==None or article.thumb=="" %}
                                        <img src="{{ url_for('static', filename='img/side/articuly.jpg') }}"
                                             class="media-object" style="width: 120px; height: 120px;">
                                    {% else %}
                                        <img src="{{ article.thumb }}" class="media-object"
                                             style="width: 120px; height: 120px;">
                                    {% endif %}
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading"><a
                                            href="{{ url_for("article_app.view", article_id=article.id) }}">{{ article.title }}</a>
                                    </h2>
                                    <div class="media">
                                        <p>{{ article['intro'] }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {# 如果有前一页、后一页，则显示前后一页的翻页跳转，需要分页对象传到前端 #}
                            {% if res.has_prev %}
                                <li>
                                    <a href="{{ url_for('html', page=res.prev_num ) }}" aria-label="Next">
                                        <span aria-hidden="true">上一页</span></a>
                                </li>
                            {% endif %}
                            {% for page in pageList %}
                                {% if page!=None %}
                                    <li><a href="{{ url_for('html', page=page) }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="#">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if res.has_next %}
                                <li>
                                    <a href="{{ url_for('html', page=res.next_num ) }}" aria-label="Next">
                                        <span aria-hidden="true">下一页</span></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 col-sm-3">
                    <img src="{{ url_for('static', filename='img/side/articuly.jpg') }}" alt="清心涟漪" class="img-circle">
                    <img src="{{ url_for('static', filename='img/side/ad.jpg') }}" alt="" class="img-rounded">
                    <img src="{{ url_for('static', filename='img/side/rainbow.jpg') }}" alt="彩虹" class="img-circle">
                    <img src="{{ url_for('static', filename='img/side/ad.jpg') }}" alt="" class="img-rounded">
                    <img src="{{ url_for('static', filename='img/side/github.jpg') }}" alt="Github" class="img-circle">
                    <img src="{{ url_for('static', filename='img/side/ad.jpg') }}" class="img-rounded">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">热门文章：</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {% for article in recommend_articles %}
                                    <li class="list-group-item"><a
                                            href="{{ url_for('article_app.view', article_id=article.id) }}">{{ article.title }}</a>
                                        <span class="badge">{{ article.is_recommend }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">搜索博客：</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline" id="search2">
                                <input type="text" class="form-control" placeholder="Python">
                                <button type="submit" class="btn btn-default">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>
