{% extends "base.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="main col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <h2 class="text-center"><b>登陆</b></h2>
                {% if message %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {#                <form action="" method="post" class="form-horizontal">#}
                {#                    <div class="form-group">#}
                {#                        <label for="username" class="control-label">用户名：</label>#}
                {#                        <input type="text" class="form-control" name="username" id="username"#}
                {#                               placeholder="请填写您的用户名">#}
                {#                    </div>#}
                {#                    <div class="form-group">#}
                {#                        <label for="password" class="control-label">密码：</label>#}
                {#                        <input type="password" class="form-control" name="password" id="password"#}
                {#                               placeholder="请设置您的密码">#}
                {#                    </div>#}
                {#                    <div class="form-group">#}
                {#                        <div class="text-right">#}
                {#                            <input type="submit" class="btn btn-default" name="submit" id="btn1" value="立即登陆">#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </form>#}
                <form action="" method="post" class="form-horizontal">
                    {% for field in form %}
                        {% if field.widget.input_type!="hidden" %}
                            <div class="form-group">
                                {{ field.label(class="control-label") }}
                                {{ field }}
                                {# 如果发生表单类数据验证错误则在前端提示 #}
                                {% if field.errors %}
                                    <div class="alert alert-warning alert-dismissable" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <strong>注意! </strong>
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
