{% extends "admin/admin_base.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="main col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <h2 class="text-center"><b>文章管理</b></h2>
                <div class="panel">
                    <form action="" method="get" class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-2 text-right">
                                    {{ form.q.label(class="control-label") }}
                                </div>
                                <div class="col-xs-10">
                                    {{ form.q }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-2 text-right">
                                    {{ form.field.label(class="control-label") }}
                                </div>
                                <div class="col-xs-4">
                                    {{ form.field }}
                                </div>
                                <div class="col-xs-2 text-right">
                                    {{ form.order.label(class="control-labe") }}
                                </div>
                                <div class="col-xs-4">
                                    {{ form.order }}
                                </div>
                            </div>
                        </div>
                        {#                        {{ form.csrf_token }}#}
                        <div class="form-group ">
                            <a href="{{ url_for("admin_app.article_post") }}"><input type="button" name="post"
                                                                                     class="btn btn-primary"
                                                                                     value="发布文章"></a>
                            <input type="submit" name="search" class="btn btn-primary pull-right" value="立即搜索">
                        </div>
                    </form>
                </div>
                <table class="table">
                    <tr>
                        <td>总页数:{{ pages }}/总记录:{{ total }}</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <th>文章ID</th>
                        <th>文章标题</th>
                        <th>文章分类ID</th>
                        <th>作者</th>
                        <th>发布日期</th>
                        <th>操作</th>
                    </tr>
                    {% for article in articles %}
                        <tr id="article_{{ article.id }}" class="text-center">
                            <td>{{ article.id }}</td>
                            <td>
                                <a href="{{ url_for("article_app.view", article_id=article.id) }}">{{ article.title }}</a>
                            </td>
                            <td>{{ article.cate_id }}</td>
                            <td>{{ article.author }}</td>
                            <td>{{ article.pubdate }}</td>
                            <td>
                                <a href="{{ url_for("admin_app.article_edit", article_id=article.id) }}"
                                   target="_blank">编辑</a>
                                <a href="javascript:delArticle({{ article.id }})">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <ul class="pagination">
                    {% for page in pageList %}
                        {% if page!=None %}
                            {% if q==None %}
                                <li><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li>
                                    <a href="?page={{ page }}&q={{ q }}&field={{ field }}&order={{ order }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li><a href="#">...</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        function delArticle(articleId) {
            $.ajax({
                type: "post",
                url: "{{ url_for("admin_app.article_delete") }}",
                data: {article_id: articleId},
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
                },
                success: function (data) {
                    console.log(data)
                    if (data.result == "success") {
                        console.log($("#article_" + articleId))
                        $("#article_" + articleId).html(
                            "<td colspan=6>" + "删除成功" + "</td>")
                    } else {
                        alert('删除过程发生错误，请重新尝试')
                    }
                }
            })
        }
    </script>
{% endblock %}
</body>
</html>