{% extends "base.html" %}
<!DOCTYPE html>
<html>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="main col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <h2 class="text-center"><b>用户注册</b></h2>
                {% if message %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                <div class="body">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="name">姓名：</label>
                            <input class="form-control" type="text" name="name" id="name" value=""
                                   placeholder="请填写您的真实姓名"/>
                        </div>
                        <div class="form-group">
                            <label for="username">用户名：</label>
                            <input class="form-control" type="text" name="username" id="username"
                                   placeholder="请填写您的用户名，至少6个字符"/>
                        </div>
                        <div class="form-group">
                            <label for="password">密码：</label>
                            <input class="form-control" type="password" name="password" id="password"
                                   placeholder="设置一个密码，至少6个字符"/>
                        </div>
                        <div class="form-group">
                            <label for="confirmpassword">确认密码：</label>
                            <input class="form-control" type="password" name="confirmpassword" id="confirmpassword"
                                   placeholder="请确认您的密码"/>
                        </div>
                        <div class="form-group">
                            <label for="sex">性别：</label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="sex1" value="0"/>女
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="sex2" value="1"/>男
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="hobby">爱好：</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="hobby" id="hobby1" value="travel"/>旅行
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="hobby" id="hobby2" value="reading"/>阅读
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="hobby" id="hobby3" value="singing"/>唱歌
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="hobby" id="hobby4" value="dancing"/>跳舞
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="hobby" id="hobby5" value="writing"/>写作
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="hobby" id="hobby6" value="swimming"/>游泳
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="hobby" id="hobby7" value="playing basketball"/>打篮球
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="city">所在城市：</label>
                            <select name="city">
                                <option value="">请选择城市</option>
                                <option value="010">北京</option>
                                <option value="021">上海</option>
                                <option value="020">广州</option>
                                <option value="0755">深圳</option>
                                <option value="0571">杭州</option>
                                <option value="023">重庆</option>
                                <option value="0512">苏州</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="intro">简介：</label>
                            <textarea name="intro" rows="5" cols="10" class="form-control">填写简简介</textarea>
                        </div>
                        <div class="form-group text-right">
                            <input class="btn" type="submit" name="submit" id="btn1" value="立即注册"/>
                            <input class="btn" type="reset" name="reset" id="btn2" value="重设"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
